
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar-title  {
  margin: 3px 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight:lighter;
  font-size: 34px;
  letter-spacing: -3px;
  flex: 1;
  max-width: 30vw;
  color: black;
  text-decoration: none;
  z-index: 1;
}

a {
  text-decoration: none;
}


.item:hover,
.navbar-title:hover {
  color: #44A3E8;
  background-color: #dee8f0;
  cursor: pointer;

}

.item {
  color: #000000;
  background-color: transparent;
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 28px;
  text-decoration: none;
  border: none;
}
