

.joke-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-between;
  margin: 5px;
  color: white;
  width: 20vw;
  background-color: #FE6C03;
  z-index: 10;
  height: 28vh;
} 

.joke-header {
   
  display: flex;
  flex-direction: column;
  background-color: #C4C4C4;
  text-decoration: none;
  width: 20vw;
  height: 8vh;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color: black;
  text-align: center;
  
}

.joke-header:hover {
  color: white;
}


.joke-content {
  font-size: 1.5rem;
  width: 20vw;
  height: 28vh;
  text-align: center;
}
 
@media (max-width: 480px) {

  .joke-container{
    width: 50vw;
    height: 25vh;
    margin-top: 10px;
    text-align: center;
  }
 
  .joke-header {
    width: 50vw;
    font-size: 1rem;
  }

  .joke-content {
    text-align: center;
  }
}