

.joke-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  margin: 5px;
  color: white;
  width: 20vw;
  background-color: #FE6C03;
  z-index: -1;
  height: 25vh;
} 

.joke-header {
   
  display: flex;
  flex-direction: column;
  background-color: #C4C4C4;
  text-decoration: none;
  width: 20vw;
  height: 8vh;
  font-size: .7rem;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color: black;
  text-align: center;
  
}



.joke-content {
  font-size: 1.5rem;
  width: 20vw;
  height: 28vh;
  text-align: center;
}
 
