.signup-parent {
    background-color: #FE6C03;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    margin: 70px auto;
    height: 60vh;
    padding-bottom: 6vh;
 }

 .signup-message {
    color: white;
    text-align: center;
    font-size: 3rem;
 }

 .signup-submit {
    background-color: #44A3E8;
    border-radius: 15px;
    width: 10vw;
    height: 5vh;
    color: white;
    font-size: 1rem;
    border: none;
}

.signup-submit:hover {
    text-decoration: underline;
    cursor: pointer;
}

.signup-email-label,
.signup-username-label,
.signup-password-label {
    font-size: 1.5rem;
}

.signup-email,
.signup-username,
.signup-password,
.signup-email-label,
.signup-username-label,
.signup-password-label,
.signup-submit {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 2vh;
}

.signup-email,
.signup-username,
.signup-password {
    width: 20vw;
}

.login-link{
    color: black;
}

.login-link:hover {
    color: white;
    
}

@media (max-width: 480px) {

    .signup-parent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50vh;
        margin: 70px auto;
        height: 75vh;
    
  }

  .signup-message {
   
    font-size: 4rem;
}


  .signup-submit {

    width: 35vw;
    height: 6vh;
    color: white;
    font-size: 1.5rem;
    border: none;
}

.signup-email,
.signup-username,
.signup-password {
    width: 100%;
    height: 5vh;
}

.signup-email-label,
.signup-username-label,
.signup-password-label {
    font-size: 3em;
}

.login-link{
    font-size: 1.5rem;
}


}