.footer-container {
  z-index: 7;
}
.footer {
    /* padding: -80vh; */
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
  }

  @media (max-width: 480px) {

    .footer {
      width: 40%;
      text-align: center;
      justify-content: center;
      align-content: center;
      padding: -50vh;
      margin: -1vh;
    }
  
  }