
.footer {
    padding: 1px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }