.joke-edit-parent {
    background-color: #FE6C03;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    margin: 70px auto;
    height: 60vh;
    overflow: hidden;
}

.edit-save {
    background-color: #44A3E8;
    border-radius: 15px;
    width: 10vw;
    height: 5vh;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
}

.edit-save:hover {
    text-decoration: underline;
    cursor: pointer;
}

.edit-input-title,
.edit-textarea-content,
.edit-title,
.edit-content,
.edit-save {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 2vh;
}

.edit-title,
.edit-content {
    font-size: 2rem;
}

.edit-input-title,
.edit-textarea-content {
    width: 30vw;
    margin-bottom: 2vh;
    border: none;
}

.edit-input-title {
    height: 9vh;
    width: 30vw;

}

.edit-textarea-content {
    height: 25vh;
}


@media (max-width: 480px) {

    .joke-edit-parent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50vh;
        margin: 70px auto;
        height: 60vh;
    
  }

  .edit-title,
  .edit-content {
      font-size: 2rem;
  }

  .edit-input-title {
      width: 65vw;
      height: 7vh;
  }


  .edit-textarea-content {

    width: 55vw;
    height: 15vh;
 
}

.content-container{
    width: 55vw;
}


.edit-save {
     
    width: 25vw;
    height: 5vh;
    font-size: 1.5rem;
}

}