.welcome-container{
    position: absolute;
width: 1477px;
height: 508px;
left: 0px;
top: 75px;

background: #44A3E8;
width: 100%;
padding: 150px;
}

.welcome {
    position: absolute;
    width: 448px;
    height: 92px;
    left: 750px;
    top: 15px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 13rem;
    line-height: 91px;
    flex-wrap: wrap;    
    letter-spacing: 10px;
    color: #FFFFFF;
}

.welcome-message {
display: flex;
align-content: center;
justify-content: center;
margin: 200px;

font-family: "Roboto", sans-serif;
font-style: bold;
font-weight: 300;
font-size: 6.5rem;
line-height: 110px;
letter-spacing: 5px;
color: #000000;
flex-wrap: wrap;

}

.add-joke-button {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: -250px 900px;
    text-align: center;
    background: black;
    border-radius: 45px;
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 2rem;
line-height: 23px;
color: white;
padding: 30px 90px;
}

.add-joke-button:hover {
   cursor: pointer;
   text-decoration: underline;
}

.jokes-link {
   
    color: #FE6C03;
    text-decoration: none;
    position: absolute;
    /* display: flex; */
    z-index: 1;
    padding: 20px;
    margin: 550px 800px;
    line-height: 50px;

    justify-content: center;
    background: linear-gradient(to right, #44A3E8, #44A3E8) no-repeat right;
    background-size: 0% auto;
    white-space: nowrap;
    transition: background-size 0.3s, 
    background-position 0s;
}

.jokes-link:hover {
      background-size: 100% auto;
      background-position: left;
    }
    
.related-section {
    /* display: flex; */
    justify-content: space-evenly;
    border-bottom: 1px solid white;
    /* flex-flow: row wrap; */
    /* align-items: flex-end; */
    background-color: white;
    /* padding: 50px 0; */
    width: 100%;

}

.related-section {
    flex-direction: row;
  }

  /* .related-section {
    border-bottom: none;
  } */

.jokes-detail {
    display: flex;
    background-color: rgba(196, 196, 196, 0.25);
    justify-content: space-evenly;
    flex-flow: row wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.browse-jokes-button {

position: absolute;
width: 3px;
height: 3px;
left: 180px;
top: 300px;

font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 5rem;
line-height: 28px;

color: #44A3E8;
}