.homepage-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.welcome-container {
  display: flex;
  background: #44a3e8;
  width: 100vw;
  flex-direction: column;
  margin-bottom: 8vh;
  padding-bottom: 2vh;
}

.welcome {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 5rem;
  line-height: 91px;
  flex-wrap: wrap;
  letter-spacing: 3px;
  color: #ffffff;
  padding: 10vh, 0;
}

.welcome-message {
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-weight: 300;
  font-size: 2rem;
  line-height: 35px;
  letter-spacing: 2px;
  color: #000000;
  width: 55vw;
  margin-top: -5vh;
}

.add-joke-button {

    align-self: center;
    width: 10vw;
    height: 6vh;
    background: black;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-align: center;
    border: none; 
}

.add-joke-button:hover {
   cursor: pointer;
   text-decoration: underline;
} 


.jokes-link {
    height: .5vh;
    color: #44A3E8;
    text-decoration: none;
     z-index: 1;
    padding: .2vw;
    background: linear-gradient(to right, #b1d5ee, #b1d5ee) no-repeat right;
    background-size: 0% auto;
    white-space: nowrap;
    transition: background-size 0.3s, 
    background-position 0s;
    width: 20vw;
    font-size: 2rem;
    margin: 0 auto;
}

.jokes-link:hover {
      background-size: 100% auto;
      background-position: left;
    }
    
 .related-section {
    display: flex;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
    /* border-bottom: 1px solid white; */
    /* background: rgba(196, 196, 196, 0.25);     */
    width: 85vw;
    height: 50vh;
    align-items: center;
    margin: auto;
    margin-top: -100px;


} 

.joke-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50vh;
  }
  

  @media (max-width: 480px) {

    .welcome {
      font-size: 4rem;
    }
    .welcome-message {
      word-wrap: break-word;
      font-size: 1.5rem;
      width: 90vw;
    }

    .add-joke-button {
      align-self: center;
      width: 40vw;
      height: 6vh;
      font-size: 1.3rem;
    }

    .joke-parent {
      flex-direction: column;
      display: flex;
      align-items: center;
      margin-top: 80vh;
      margin-bottom: 0vh;
    }
  }